*.smali

.pi
.claude
CLAUDE.md
AGENT.md

# Tauri
src-tauri/target/
src-tauri/plugins/*/target/
src-tauri/plugins/*/android/.tauri/
src-tauri/plugins/*/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/build/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/local.properties
src-tauri/gen/schemas/

src-tauri/keystore/
dist/

# 根目录 node_modules（tauri 自动建的 package.json 需要提交，但 node_modules 不提交）
node_modules/
